body {
  background: transparent;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


.arc-reactor-teal {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    white 0%,
    white 40%,
    white 70%,
    #000 80%
  );
  box-shadow:
    0 0 35px rgba(255, 187, 2, 0.6),
    inset 0 0 22px rgba(255, 80, 0, 0.35);
}

/* OUTER RED RING */
.outer-ring {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 6px dashed rgba(255, 60, 60, 0.7);
  box-shadow:
    inset 0 0 15px rgba(255, 60, 60, 0.6),
    0 0 20px rgba(255, 60, 60, 0.6);
    animation: spin 10s linear infinite
}

/* YELLOW SEGMENTED RING */
.segment-ring {
  position: absolute;
  inset: 15px;
  border-radius: 50%;
  border: 6px dashed rgba(255, 200, 0, 0.95);
  animation: spinReverse 6s linear infinite;
  box-shadow: 0 0 22px rgba(255, 200, 0, 0.9);
}

/* HOT YELLOW CORE */
.inner-core {
  position: absolute;
  inset: 33px;
  border-radius: 50%;
  background: radial-gradient(
    circle at top left,
    #ff22bb,
    white 55%,
    #ff22bb 95%,
    #ff22bb
  );
  box-shadow:
    0 0 40px rgba(255, 200, 0, 1),
    inset -5px -5px 12px rgba(120, 40, 0, 0.6),
    inset 5px 5px 12px rgba(255, 255, 255, 0.35);
  animation: pulse 2s ease-in-out infinite;
}

/* ANIMATIONS */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    box-shadow: 0 0 28px rgba(255, 200, 0, 0.9);
  }
  50% {
    transform: scale(1.15);
    box-shadow: 0 0 55px rgba(255, 120, 0, 1);
  }
}
@keyframes spinReverse {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}


